<h2>Show Quote</h2>

<ul>

  <li>
    <strong>Author:</strong>
    <%= @quote.author %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @quote.content %>
  </li>

</ul>

<span><%= link "Edit", to: quote_path(@conn, :edit, @quote) %></span>
<span><%= link "Back", to: quote_path(@conn, :index) %></span>
